*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.nb-gradle
/.nb-gradle-properties
/.nb-gradle/private/
/build/
/.gradle/
# Passwords
/push.properties

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
.classpath
.project

# Android Studio
.idea/
/*/local.properties
/*/out
/*/*/build
/*/build
build/
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp

# OS X
*.DS_Store
/app/mirror
